[Unit]
Description=The PHP 7.4 FastCGI Process Manager
Documentation=man:php-fpm7.4
After=network.target

[Service]
Type=notify
PIDFile=/var/run/php7.4-fpm-{{domain}}.pid
ExecStart=/usr/sbin/php-fpm7.4 --nodaemonize --fpm-config /etc/php/7.4/fpm/pool.d/{{domain}}.conf
ExecReload=/bin/kill -USR2 $MAINPID

[Install]
WantedBy={{wantedby}}
