[Unit]
Description=The PHP 7.2 FastCGI Process Manager
Documentation=man:php-fpm7.2(8)
After=network.target

[Service]
Type=notify
PIDFile=/var/run/php7.2-fpm-{{domain}}.pid
ExecStart=/usr/sbin/php-fpm7.2 --nodaemonize --fpm-config /etc/php/7.2/fpm/pool.d/{{domain}}.conf
ExecReload=/bin/kill -USR2 $MAINPID

[Install]
WantedBy={{wantedby}}