[Unit]
Description=The PHP 8.0 FastCGI Process Manager
Documentation=man:php-fpm8.0
After=network.target

[Service]
Type=notify
PIDFile=/var/run/php8.0-fpm-{{domain}}.pid
ExecStart=/usr/sbin/php-fpm8.0 --nodaemonize --fpm-config /etc/php/8.0/fpm/pool.d/{{domain}}.conf
ExecReload=/bin/kill -USR2 $MAINPID

[Install]
WantedBy={{wantedby}}
