[Unit]
Description=The PHP 8.2 FastCGI Process Manager
Documentation=man:php-fpm8.2
After=network.target

[Service]
Type=notify
PIDFile=/var/run/php8.2-fpm-{{domain}}.pid
ExecStart=/usr/sbin/php-fpm8.2 --nodaemonize --fpm-config /etc/php/8.2/fpm/pool.d/{{domain}}.conf
ExecReload=/bin/kill -USR2 $MAINPID

[Install]
WantedBy={{wantedby}}
