[Unit]
Description=GO Web Server
ConditionPathExists=/home/{{user}}/sites/{{domain}}/dist/app
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/{{user}}/sites/{{domain}}/dist
ExecStart=/home/{{user}}/sites/{{domain}}/dist/app start
ExecStop=/home/{{user}}/sites/{{domain}}/dist/app stop
# Restart=always
Restart=on-failure
RestartSec=10
startLimitIntervalSec=60

[Install]
WantedBy={{wantedby}}