[Unit]
Description=GO web server
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/{{user}}/sites/{{domain}}
ExecStart=/home/{{user}}/sites/{{domain}}/goWebServer-{{domain}} start
ExecStop=/home/{{user}}/sites/{{domain}}/goWebServer-{{domain}} stop
Restart=always

[Install]
WantedBy={{wantedby}}